<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
		<div class="col-sm-4">
			
		  <p>&copy 2019 Senseable Intelligence Group</p>
          <p>We are part of the <a href="https://mcgovern.mit.edu">McGovern Institute for Brain Research</a>
		  at <a href="https://www.mit.edu">Massachusetts Institute of Technology</a>,
		  the <a href="https://oto.hms.harvard.edu/">Department of Otolaryngology, Head and Neck Surgery</a>
		  at <a href="https://hms.havard.edu">Harvard Medical School</a>, and the
			  <a href="https://www.hms.harvard.edu/dms/shbt/">Speech and Hearing Bioscience and Technology Program</a>.
		  </p>
    		<p>Site adapted from
			  <a href="https://github.com/mpa139/allanlab">Allan Lab</a>. See
			  <a href="{{ site.url }}{{ site.baseurl }}/aboutwebsite.html"> for
				  details to use it for your own research group.</a>
     	  </p>
		</div>
		<div class="col-sm-4">
		  Funding:<br />
		  - <a href="https://www.nibib.nih.gov/">NIBIB</a><br />
		  - <a href="https://www.nimh.nih.gov/index.shtml">NIMH</a><br />
		  - <a href="http://mcgovern.mit.edu/technology/neurotechnology-program">McGovern Institute for Brain Research MINT Program</a><br />
		  - <a href="https://medicalresearch.mit.edu/">MIT Philips Award for Clinicians</a><br />
		  - Philanthropic support<br />
			<p></p>
		</div>
		<div class="col-sm-4">
		  Contact: satra at mit dot edu<br />
		  Coordinates:<br />
		  McGovern Institute for Brain Research<br />
		  46-4033F<br />
		  43 Vassar St<br />
		  Cambridge, MA 02139<br />
		  USA <br />
          <a href="http://whereis.mit.edu/?go=46" target="_blank">Directions</a>
		</div>
	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
